@import "../../global.scss";

.header {
  @include flex(row, space-between, center);
  @include Container(5%, 5%, 3%, padding);

  &__text {
    width: 40%;
    color: #fff;
    font-size: 36px;
  }

  &__buttons {
    @include flex(row, space-between, center);
    gap: 30px;
    width: 10%;
  }
}
