* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 600;
  cursor: default;
  scroll-behavior: smooth;
  list-style-type: none;
}

body {
  background-color: #eee;
  min-height: 100vh;
}